body {
}

.bg-green {
    background-color: #2e7d32;
}

.bg-teal {
    background-color: #00796b;
}

.bg-red {
    background-color: #c62828;
}

.bg-yellow {
    background-color: #f9a825;
}

.bg-blue {
    background-color: #1565c0;
}

